/* Global Styles */
:root {
    --background-color: #FFFFFF;
    --header-background-color: #373944;
    --button-background-color: #1E1E25;
    --button-hover-background-color: #D3FCCC;
    --button-active-background-color: #6A8C8C;
    --carousel-item-color: #1E1E25;
    --footer-background-color: #1E1E25;
    --footer-button-background-color: #373944;
}

body {
    font-family: Tahoma;
    background: var(--background-color);
    margin-top: 200px;
    margin-bottom: 7%;
    white-space: nowrap;
}

/* Header Styles */
header {
    width: 100%;
    min-height: 60px;
    background-color: var(--header-background-color);
    align-items: center;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header button img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    margin-left: -55px;
    user-select: none;
}

header button {
    color: var(--background-color);
    padding-left: 65px;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-right: 30px;
    height: 100%;
    background-color: var(--button-background-color);
    position: relative;
    border-top-right-radius: 2.5em;
    border-bottom-right-radius: 2.5em;
    z-index: 1;
    line-height: 1.2;
    user-select: none;
    font-size: 2em;
    font-weight: bold;
    border: none;
}

header h2 {
    color: var(--header-background-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    user-select: none;
}

/* Button Styles */
button.login:hover,
button.logout:hover,
button.error:hover,
header button:hover,
footer button:hover {
    background-color: var(--button-hover-background-color);
    color: var(--button-background-color);
}

button.login:active,
button.logout:active,
button.error:active,
header button:active,
footer button:active {
    background-color: var(--button-active-background-color);
    color: var(--button-background-color);
    transition: background-color 0.01s ease-in-out, color 0.01s ease-in-out;
}

button.login,
button.logout,
button.error,
header button,
footer button {
    transition: background-color 0.3s ease-in-out, color 0.1s ease-in-out;
}

/* Carousel Styles */
.carousel-item,
header h2 {
    transition: background-color 1.3s ease-in-out, color 1.1s ease-in-out;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-inner {
    display: flex;
    animation: scroll 10s linear infinite;
}

.carousel-item {
    padding: 20px;
    text-align: center;
    color: var(--carousel-item-color);
    white-space: nowrap;
    align-items: flex-start;
    user-select: none;
}

/* Footer Styles */
footer {
    width: 100%;
    height: 7%;
    background: var(--footer-background-color);
    align-items: center;
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
}

footer button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
    max-height: 80px;
    font-size: 100%;
    background-color: var(--footer-button-background-color);
    border-radius: 100px;
    padding: 15px;
    width: 100px;
    white-space: nowrap;
    z-index: 1;
    user-select: none;
    border: none;
    font-weight: bold;
}

/* Section Styles */
div.login,
div.logout,
div.error {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

div.login img,
div.logout img,
div.error img {
    max-width: 300px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username-input {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--header-background-color);
    user-select: none;
    margin-top: 20px;
    font-size: 1.2em;
    margin-left: auto;
    margin-right:auto;
    border-radius: 100px;
    padding: 0.8em 1.6em;
    border: 2px solid var(--header-background-color);
    width: 180px;
    height: 20px;
    margin: 20px auto;
}

.password-input {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--header-background-color);
    user-select: none;
    font-size: 1.2em;
    margin-left: auto;
    margin-right:auto;
    border-radius: 100px;
    padding: 0.8em 1.6em;
    border: 2px solid var(--header-background-color);
    width: 180px;
    height: 20px;
    margin: 20px auto;
    margin-top: -5px;
}

h1.logout,
h1.error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--header-background-color);
    user-select: none;
    font-size: 3em;
    margin-top: -5px;
}

h2.error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--header-background-color);
    user-select: none;
    font-size: 2em;
    margin-top: -20px;
}

h2.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--header-background-color);
    user-select: none;
    font-size: 2em;
    margin-top: -20px;
    white-space: nowrap;
}

.body {
    justify-content: center;
    align-items: center;
    margin: 0;
}

button.login {
    text-align: center;
    color: #FFFFFF;
    font-size: 1em;
    background-color: var(--button-background-color);
    border-radius: 100px;
    padding: 1em 2em;
    width: 250px;
    white-space: nowrap;
    user-select: none;
    border: none;
    font-weight: bold;
    margin-top: -4px;
}

button.logout,
button.error {
    text-align: center;
    color: #FFFFFF;
    font-size: 1em;
    background-color: var(--button-background-color);
    border-radius: 100px;
    padding: 1em 2em;
    width: 250px;
    white-space: nowrap;
    user-select: none;
    border: none;
    font-weight: bold;
    margin-top: 30px;
}

/* Media Queries */
@media (min-width: 1080px) {
    @keyframes scroll {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    .carousel-item:hover {
        color: var(--button-hover-background-color);
    }
}

@media (min-width: 1280px) {
    header h2:hover {
        color: var(--button-hover-background-color);
    }
}

/* Miscellaneous Styles */
img {
    -webkit-user-drag: none;
    pointer-events: none;
}